<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.gendoc.documentTypes" name="Gendoc Document Types" schema="schema/documentTypes.exsd"/>
   <extension
         point="org.eclipse.gendoc.serviceTypes">
      <serviceType
            id="DocumentManager"
            interface="org.eclipse.gendoc.documents.IDocumentManager">
      </serviceType>
      <serviceType
            id="DocumentService"
            interface="org.eclipse.gendoc.documents.IDocumentService">
      </serviceType>
   </extension>
   <extension
         point="org.eclipse.gendoc.services">
      <service
            class="org.eclipse.gendoc.documents.impl.DocumentManager"
            default="true"
            id="DocumentManager"
            serviceType="DocumentManager">
      </service>
      <service
            class="org.eclipse.gendoc.documents.impl.DocumentServiceFactory"
            default="true"
            id="DocumentService"
            serviceType="DocumentService">
      </service>
   </extension>

</plugin>
