<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gendoc.serviceTypes">
      <serviceType
            id="HtmlService"
            interface="org.eclipse.gendoc.tags.html.IHtmlService">
      </serviceType>
   </extension>
   <extension
         point="org.eclipse.gendoc.services">
      <service
            class="org.eclipse.gendoc.tags.html.impl.HtmlServiceFactory"
            default="true"
            id="HtmlService"
            serviceType="HtmlService">
      </service>
   </extension>
   <extension
         point="org.eclipse.gendoc.tags">
      <category
            name="org.eclipse.gendoc.tags.scripts">
         <tag
               handler="org.eclipse.gendoc.tags.html.impl.RichTextTagHandler"
               name="richText">
            <attribute
                  default="default"
                  name="version"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="HTML"
                  name="format"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="filePath"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="false"
                  name="includePic"
                  required="false"
                  type="java.lang.String">
            </attribute>
         </tag>
      </category>
   </extension>
   <extension
         point="org.eclipse.gendoc.processes">
      <process
            id="additionalStyles"
            label="Adding additional styles"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.gendoc.tags.html.AdditionalStylesProcess">
         <predecessor
               ref="generate">
         </predecessor>
         <successor
               ref="save">
         </successor>
      </process>
   </extension>

</plugin>
