<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="parameters" name="Parameters" schema="schema/parameters.exsd"/>
   <extension-point id="sequencer" name="sequencer runnable" schema="schema/sequencer.exsd"/>
   <extension
         point="org.eclipse.gendoc.processes">
      <process
            id="drop"
            label="Removing dropped elements"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.gendoc.tags.handlers.impl.post.DropTagProcess">
         <predecessor
               ref="generate">
         </predecessor>
         <successor
               ref="save">
         </successor>
      </process>
      <process
            id="nobr"
            label="Removing line breaks"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.gendoc.tags.handlers.impl.post.NobrTagProcess">
         <predecessor
               ref="drop">
         </predecessor>
         <successor
               ref="save">
         </successor>
      </process>
      <process
            id="fragment"
            label="Analyse Fragments Process"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.gendoc.tags.handlers.process.FragmentAnalyserProcess">
         <predecessor
               ref="countSteps">
         </predecessor>
         <successor
               ref="generate">
         </successor>
      </process>
      <process
            id="RegisterVariableProcess"
            label="Register Project Variables"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.gendoc.tags.handlers.process.RegisterVariableProcess">
         <predecessor
               ref="countSteps">
         </predecessor>
         <successor
               ref="generate">
         </successor>
      </process>
      <process
            id="bookmark"
            label="Analyse Bookmark Process"
            parallel="false"
            priority="NORMAL"
            processor="org.eclipse.gendoc.tags.handlers.process.BookmarksAnalyserProcess">
         <predecessor
               ref="countSteps">
         </predecessor>
         <successor
               ref="fragment">
         </successor>
      </process>
   </extension>
   <extension
         point="org.eclipse.gendoc.serviceTypes">
      <serviceType
            id="ConfigurationService"
            interface="org.eclipse.gendoc.tags.handlers.IConfigurationService">
      </serviceType>
      <serviceType
            id="ContextService"
            interface="org.eclipse.gendoc.tags.handlers.IContextService">
      </serviceType>
      <serviceType
            id="EMFModelLoaderService"
            interface="org.eclipse.gendoc.tags.handlers.IEMFModelLoaderService">
      </serviceType>
      <serviceType
            id="TagHandlerService"
            interface="org.eclipse.gendoc.tags.handlers.ITagHandlerService">
      </serviceType>
      <serviceType
            id="TagAnalyserBuffer"
            interface="org.eclipse.gendoc.tags.handlers.process.buffers.ITagAnalyserBuffer">
      </serviceType>
      <serviceType
            id="PropertiesService"
            interface="org.eclipse.gendoc.tags.handlers.IPropertiesService">
      </serviceType>
      
   </extension>
   <extension
         point="org.eclipse.gendoc.services">
      <service
            class="org.eclipse.gendoc.tags.handlers.impl.config.ConfigurationService"
            default="true"
            id="ConfigurationService"
            serviceType="ConfigurationService">
      </service>
      <service
            class="org.eclipse.gendoc.tags.handlers.impl.context.ContextService"
            default="true"
            id="ContextService"
            serviceType="ContextService">
      </service>
      <service
            class="org.eclipse.gendoc.tags.handlers.impl.context.EMFModelLoaderService"
            default="true"
            id="EMFModelLoaderService"
            serviceType="EMFModelLoaderService">
      </service>
      <service
            class="org.eclipse.gendoc.tags.handlers.impl.TagHandlerService"
            default="true"
            id="TagHandlerService"
            serviceType="TagHandlerService">
      </service>
      <service
            class="org.eclipse.gendoc.tags.handlers.process.buffers.StringTagAnalyserBuffer"
            default="true"
            id="StringAnalyserBuffer"
            serviceType="TagAnalyserBuffer">
      </service>
      <service
            class="org.eclipse.gendoc.tags.handlers.process.buffers.FileAnalyserBuffer"
            default="false"
            id="TagFileBuffer"
            serviceType="TagAnalyserBuffer">
      </service>
      <service
            class="org.eclipse.gendoc.tags.handlers.impl.properties.PropertiesServices"
            default="true"
            id="DefaultPropertiesService"
            serviceType="PropertiesService">
      </service>
   </extension>
   <extension
         point="org.eclipse.gendoc.tags">
      <category
            name="org.eclipse.gendoc.tags.top">
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.config.ConfigTagHandler"
               name="config">
            <attribute
                  default="acceleo"
                  name="language"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="false"
                  name="runV1"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  name="services"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="2"
                  name="version"
                  required="false"
                  type="java.lang.Integer">
            </attribute>
            <tag
                  handler="org.eclipse.gendoc.tags.handlers.impl.config.ImportedDiagramsTagHandler"
                  name="importedDiagrams">
               <attribute
                     name="path"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
            <tag
                  handler="org.eclipse.gendoc.tags.handlers.impl.config.OutputTagHandler"
                  name="output">
               <attribute
                     name="path"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
            <tag
                  handler="org.eclipse.gendoc.tags.handlers.impl.config.ParamTagHandler"
                  name="param">
               <attribute
                     name="key"
                     required="false"
                     type="java.lang.String">
               </attribute>
               <attribute
                     name="value"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.context.ContextTagHandler"
               name="context">
            <attribute
                  name="element"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="importedBundles"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="model"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="services"
                  required="false"
                  type="java.lang.String">
            </attribute>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.scripts.GendocTagHandler"
               name="gendoc">
            <category
                  name="org.eclipse.gendoc.tags.scripts">
            </category>
            <tag
                  handler="org.eclipse.gendoc.tags.handlers.impl.scripts.IncludeTagHandler"
                  name="include">
               <attribute
                     name="filePath"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.post.DropTagHandler"
               name="drop">
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.post.NobrTagHandler"
               name="nobr">
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.post.DropEmptyTagHandler"
               name="dropEmpty">
            <category
                  name="org.eclipse.gendoc.tags.scripts">
            </category>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.fragment.FragmentTagHandler"
               name="fragment">
            <attribute
                  name="name"
                  required="true"
                  type="java.lang.String">
            </attribute>
            <tag
                  handler="org.eclipse.gendoc.tags.handlers.impl.fragment.ArgumentTagHandler"
                  name="arg">
               <attribute
                     name="name"
                     required="true"
                     type="java.lang.String">
               </attribute>
               <attribute
                     name="type"
                     required="true"
                     type="java.lang.String">
               </attribute>
            </tag>
            <attribute
                  name="importedBundles"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="importedFragments"
                  required="false"
                  type="java.lang.String">
            </attribute>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.properties.PropertiesTagHandler"
               name="properties">
            <attribute
                  name="path"
                  required="true"
                  type="java.lang.String">
            </attribute>
         </tag>
      </category>
   </extension>
   <extension
         point="org.eclipse.gendoc.tags">
      <category
            name="org.eclipse.gendoc.tags.scripts">
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.scripts.ImageTagHandler"
               name="image">
            <attribute
                  name="filePath"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="object"
                  required="false"
                  type="java.lang.String">
            </attribute>
            <attribute
                  default="false"
                  name="keepH"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  default="false"
                  name="keepH"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  default="false"
                  name="maxH"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
            <attribute
                  default="false"
                  name="maxW"
                  required="false"
                  type="java.lang.Boolean">
            </attribute>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.scripts.ListTagHandler"
               name="list">
            <category
                  name="org.eclipse.gendoc.tags.scripts">
            </category>
         </tag>
         <tag
               handler="org.eclipse.gendoc.tags.handlers.impl.scripts.TableTagHandler"
               name="table">
            <category
                  name="org.eclipse.gendoc.tags.scripts">
            </category>
         </tag>
         <tagref
               name="drop">
         </tagref>
         <tagref
               name="nobr">
         </tagref>
         <tagref
               name="dropEmpty">
         </tagref>
      </category>
   </extension>
   <extension
         point="org.eclipse.gendoc.tags.handlers.parameters">
      <Parameter
            instance="org.eclipse.gendoc.tags.handlers.DefaultParameterValue">
      </Parameter>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.gendoc.tags.handlers.sequencer">
      <pre_tag_handler
            priority="1"
            runnable="org.eclipse.gendoc.tags.handlers.impl.scripts.PreGendocTagHandler"
            tag_name="gendoc">
      </pre_tag_handler>
      <pre_tag_handler
            priority="1"
            runnable="org.eclipse.gendoc.tags.handlers.impl.scripts.PreGendocTagHandler"
            tag_name="fragment">
      </pre_tag_handler>
   </extension>

</plugin>
